table.bcard-designer-table {
	width: 100%;
}

table.bcard-designer-table > tbody > tr > td {
	
}

table.bcard-designer-table > tbody > tr > td:first-child {
	width: 70%;
	padding: 0px 25px 0px 0px;
}

table.bcard-designer-table > tbody > tr > td:last-child {
	width: 30%;
	padding: 0px;
}

div.bcard-configuration-wrapper {
	
}

div.bcard-configuration-wrapper h1 {
	
}

div.bcard-config-block {
	opacity: 1;
    cursor: pointer;
    pointer-events: all;
	padding-top: 10px;
	border-top: solid 2px #636363; 
}

div.bcard-config-block.collapse {
	opacity: 0.5;
	cursor: not-allowed;    
    text-decoration: none;
    pointer-events: none;
}

div.bcard-config-block h3 {
	color: #636363;
    font-weight: bold;
    font-size: 18px;
}

div.bcard-config-block.collapse > div {
	display: none;
}

div.bcard-config-block > h3 > span {
	background-color: #333;
    padding: 2px 8px;
    border-radius: 4px;
    color: #FFF;
    font-weight: 600;
    margin-right: 10px;
}

div.bcard-config-block > div {
	
}

div.bcard-option-radio-wrapper.quantity {
	display: table;
	padding: 15px 0px;    
}

div.bcard-option-radio-wrapper.quantity > label {
	float: left;
	display: table;    
    margin-right: 25px;
    margin-bottom: 15px;
}

div.bcard-option-radio-wrapper.quantity > label > input {
	margin-right: 8px;
}

div.bcard-option-radio-wrapper.quantity > label span.label,
div.bcard-option-radio-wrapper.quantity > label span.single {
	display: block;
}


div.bcard-config-summary {
	padding: 15px;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}

div.bcard-config-summary > h1 {
	margin: 0px;
    font-size: 18px;
}

table.bcard-config-summary-table {
	width: 100%;
    margin: 0px;
}

table.bcard-config-summary-table td {
	padding: 0px;
    font-size: 12px;
}

table.bcard-config-summary-table td:first-child {
	
}

table.bcard-config-summary-table td:last-child {
	width: 60%;
    text-align: right;
	font-weight: bold;
}

div.bcard-option-tab-header {
	
}

div.bcard-option-tab-header a {
	
}

div.bcard-option-tab-header a:hover,
div.bcard-option-tab-header a.active {
	
}

div.bcard-option-tab-content {
	
}

div.bcard-option-tab-content > div {
	display: none;
}